<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Pokemon</title>
</head>
<body>
    <form method="post" action="{% url 'pokemon_search' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Search</button>
    </form>

    {% if data %}
    <a href="https://pokeapi.co/api/v2/pokemon/{{ data.name }}">
        {{ data.name }}
    </a>
    {% endif %}
    
</body>
</html>